* {
    margin: 0;
    padding: 0;
}

/* TYPOGRPAHY */
h1 {
    font-family: "Bricolage Grotesque", Arial, sans-serif;
    font-size: 10em;
    color: #29D955;
}

h2 {
    font-family: "Figtree", Arial, sans-serif;
    font-weight: 450;
    color: #29D955;
}

h3 {
    font-family: "Bricolage Grotesque", Arial, sans-serif;
    color: #CCCDD0;
    font-size: 2em;
    padding-bottom: 10px;
}

h4 {
    font-family: "Figtree", Arial, sans-serif;
    font-weight: 400;
    font-size: 1.2em;
    color: #939497;
}

a {
    font-family: "Figtree", Arial, sans-serif;
    font-weight: 600;
    text-decoration: none;
    color: white;
}

/* HEADER */
nav {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px 36px;
    /* background-color: #002442;
    border-radius: 30px; */

}

.navbar a {
    display: inline-block;
    color: #29D955;
    text-align: center;
    padding: 14px;
    text-decoration: none;
    font-size: 17px;
    border-radius: 30px;
}

.navbar a:hover {
    background-color: #003335;
    color: #939497;
}

.navbar a.active {
    background-color: #003335;
    color: #CCCDD0;
}

/* sticky nav */
.sticky {
    position: fixed;
    top: 0;
    width: 100%;
}

.sticky+.project-cards {
    padding-top: 60px;
}

/* BODY */
body {
    background-image: linear-gradient(45deg, #002442, #003335, #00471D);
}

/* HERO */
.hero-section {
    display: flex;
    height: 60vh;
    justify-content: center;
    align-items: center;
    padding: 30px 25px;
    flex-direction: column;
    text-align: center;
}

/* PROJECT CARDS */
.project-cards {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 30px;
    height: auto;
    padding: 30px;
}

.card {
    display: flex;
    border-radius: 30px;
    background-color: #111826;
    padding: 30px 36px;
    flex-direction: column;
}



/* FOOTER */

.social-link {
    list-style-type: none;
    text-decoration: none;
    color: white;

    li {
        font-size: 18px;
        display: column;

        &:first-child {
            margin-right: 44px;
            margin-bottom: 10px;
        }

        &:nth-child(2) {
            margin-right: 44px;
            margin-bottom: 10px;
        }
    }
}

.social {
    color: White;
    text-decoration: none;
    font-weight: 400;
    font-size: 0.8em;
}