* {
    margin: 0;
    padding: 0;
}

/* TYPOGRPAHY */
h1 {
    font-family: "Bricolage Grotesque", sans-serif;
    font-size: 10em;
    color: #29D955;
}

h2 {
    font-family: "Figtree", sans-serif;
    font-weight: 450;
    color: #29D955;
}

h3 {
    font-family: "Bricolage Grotesque", sans-serif;
    color: #CCCDD0;
    font-size: 2em;
    padding-bottom: 10px;
}

h4 {
    font-family: "Figtree", sans-serif;
    font-weight: 400;
    font-size: 1.2em;
    color: #CCCDD0;
}

a {
    font-family: "Figtree", sans-serif;
    font-weight: 600;
    text-decoration: none;
    color: white;
}

/* HEADER */
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 36px;
}

.site-name {
    font-family: "Bricolage Grotesque", sans-serif;
    font-size: 36px;
    font-weight: 500;
}

.head-link {
    list-style-type: none;
    font-weight: 700;
    text-decoration: none;
    color: white;

    li {
        font-size: 18px;
        display: inline-block;

        &:first-child {
            margin-right: 44px;
        }

        &:nth-child(2) {
            margin-right: 44px;
        }
    }
}

.top-link {
    color: white;
    text-decoration: none;
}

/* BODY */
body {
    background-image: linear-gradient(45deg, #002442, #003335, #00471D);
}

/* HERO */
.hero-section {
    display: flex;
    height: 60vh;
    justify-content: center;
    align-items: center;
    padding: 30px 25px;
    flex-direction: column;
    text-align: center;
}

/* PROJECT CARDS */
.project-cards {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 30px;
    height: 360px;
    padding: 30px;
}

.card {
    display: flex;
    border-radius: 30px;
    background-color: #111826;
    padding: 30px 36px;
    flex-direction: column;
}

/* images */
/* .toyotaCover {
    width: 100%;

} */

/* FOOTER */

.social-link {
    list-style-type: none;
    text-decoration: none;
    color: white;

    li {
        font-size: 18px;
        display: column;

        &:first-child {
            margin-right: 44px;
            margin-bottom: 10px;
        }

        &:nth-child(2) {
            margin-right: 44px;
            margin-bottom: 10px;
        }
    }
}

.social {
    color: White;
    text-decoration: none;
    font-weight: 400;
    font-size: 0.8em;
}