* {
    margin: 0;
    padding: 0;
}

/* BODY */
body {
    background-image: linear-gradient(45deg, #002442, #003335, #00471D);
}

/* TYPOGRAPHY */
h1 {
    font-family: "Bricolage Grotesque", sans-serif;
    font-size: 3em;
    color: #CCCDD0;
    padding-bottom: 20px;
}

h2 {
    font-family: "Bricolage Grotesque", sans-serif;
    font-size: 2em;
    color: #CCCDD0;
}

h3 {
    font-family: "Figtree", sans-serif;
    font-weight: 450;
    color: #CCCDD0;
}

a {
    font-family: "Figtree", sans-serif;
    font-weight: 600;
    text-decoration: none;
    color: white;
}

/* EXTRA */
.katimage {
    max-width: 95%;
    height: auto;
    padding: 30px;
}


/* HEADER */
header {
    display: flex;
    justify-content: center;
    padding: 30px;
}

nav {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 90px;

}

.pill-nav a {
    display: inline-flex;
    color: #939497;
    text-align: center;
    padding: 14px;
    text-decoration: none;
    font-size: 17px;
    border-radius: 30px;
}

.pill-nav a:hover {
    background-color: #29D955;
    color: #003335;
}

.pill-nav a.active {
    background-color: #003335;
    color: #CCCDD0;
}


/* HERO */
.about {
    display: grid;
    /* grid-template-columns: repeat(2, 1fr); */
    grid-template-columns: 1fr 2fr;
    height: 60vh;
    padding: 30px;
    align-items: center;
    justify-content: space-between;
}

.section-item {
    padding-left: 25px;
    padding-right: 50px;
}

/* INTAC */

/* FOOTER */